.dashboard-account

    //- .profile-info
    h1 Profile Information
    form#profileInfo
      div
        .labels 
          label Name
          label Email
          label Address
          label Role

        .inputs
          input#nameInput(value=`${user.name}` type="text" name="" required maxlength="100")
          input#emailInput(value=`${user.email}` type="text" name="" required maxlength="100")
          input#addressInput(value=`${user.address}` type="text" name="" required maxlength="100")
          select#roleInput.form-select(name="form_select" value=`${user.role}`)
            option(value="resident") Resident  
            option(value="plower") Plower  
            option(value="resident_plower") Resident and Plower

      .pic-container
        img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
        .new-pic
          label(for='') Choose new photo
          input.form__upload(type='file', accept='image/*', id='photoInput', name='photo')
      button.btn2 Save Changes

    //- .password-reset
    h1 Reset Your Password
    form#passwordResetForm
      div
        .labels
          label Current Password
          label New Password
          label Confirm New Password

        .inputs
          input#currentPassword(placeholder="Current Password" type="password" required minLength="8" maxLength='50')
          input#passwordConfirmInput(placeholder="New Password" type="password" required minLength="8" maxLength='50')
          input#passwordConfirmInput(placeholder="Confirm New Password" type="password" required minLength="8" maxLength='50')
      button.btn2 Reset Password
