extends base

block content
  section.section-dashboard
    .container
        .dashboard.lvl1
          .dashboard-menu.lvl2
            .menu-account
              a.prof-pic(href="/dashboard")
                  img(src=`/img/users/${user.photo}` alt=`photo of ${user.name}`)
              //- i.fas.fa-user-circle
              //- img(src=`/img/users/${user.photo}` alt=`photo of ${user.name}`)
              .col
                span#title.title= user.name
                span#status.status= user.status
            .menu-options 
              a.btn3.show-messages(href='/dashboard-messages')
                i.fas.fa-comments    
                h4 Messages 
              a.btn3.show-alerts(href='/dashboard-alerts')
                i.fas.fa-exclamation-triangle    
                h4 Alerts 
              a.btn3.show-jobs(href='/dashboard-jobs')
                i.fas.fa-snowplow   
                h4 Your Jobs 
              a.btn3.show-places(href='/dashboard-places')
                i.fas.fa-home   
                h4 Your Places
              a.btn3.show-routes(href='/dashboard-routes')
                i.fas.fa-map-marked-alt   
                h4 Routes 
              a.btn3.show-find(href='/dashboard-find')
                i.fas.fa-search-location    
                h4 Find Work   
              a.btn3.show-weather(href='/dashboard-weather')
                i.fas.fa-cloud-showers-heavy  
                h4 Weather 
              a.btn3.show-account(href='/dashboard-account')
                i.fas.fa-user-circle    
                h4 Account 
              a.btn3.show-payments(href='/dashboard-payments')
                i.fas.fa-receipt    
                h4 Payments 
              a.btn3.show-settings(href='/dashboard-settings')
                i.fas.fa-tools  
                h4 Settings
          .dashboard-content
            block dashboard-content
              if messages === true
                include _messages
              else if alerts === true
                include _alerts
              else if jobs === true
                include _jobs
              else if places === true 
                include _places
              else if routes === true
                include _routes
              else if find === true
                include _find
              else if weather === true
                include _weather
              else if account === true
                include _account
              else if payments === true
                include _payments
              else if settings === true
                include _settings
              else if dashboard === true
                include _dashboard
                
            




















                
